{% extends 'basic.html' %}
{% block title %}
Интернет-магазин / {{ product.name }}
{% endblock title %}
{% block content %}
<main role="main">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ product.name }}</h2>

                {% if product.img %}
                <img src="{{ product.img.url }}" width="200" alt="{{ product.name }}">
                {% endif %}
                <p>{{ product.description }}</p>
                <p>Стоимость: {{ product.price }} руб.</p>

            </div>

        </div>

    </div>
</main>
{% endblock content %}
